{% extends 'base.html' %}
{% load static %}

{% block title %} Create Item {% endblock %}

{% block css %} 
<link rel="stylesheet" href="{% static 'view_registry_app/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title mb-4">Create Item</h2>
                        <form method="post" action="{% url 'view_registry_app:create_item' wishlist.id %}">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <div class="col">
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <small class="text-danger">{{ form.name.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    {{ form.price }}
                                    {% if form.price.errors %}
                                        <small class="text-danger">{{ form.price.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    {{ form.quantity }}
                                    {% if form.quantity.errors %}
                                        <small class="text-danger">{{ form.quantity.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    {{ form.description }}
                                    {% if form.description.errors %}
                                        <small class="text-danger">{{ form.description.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Create Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'view_registry_app/js/script.js' %}"></script>
{% endblock %}
