{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'view_registry_app/css/style.css' %}">
{% endblock %}

{% block navbar_buttons %}
<a class="nav-link btn btn-primary" href="{% url 'registry_app:wishlist' %}">Back to Registry Page</a>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <h2 class="text-center mb-4">Dashboard</h2>
                <!-- Form for creating a new item -->
                <form id="dashboardForm" method="post" action="{% url 'view_registry_app:create_item' wishlist.id %}">
                    {% csrf_token %}
                    <!-- Include a hidden input field to store the wishlist_id -->
                    <input type="hidden" name="wishlist_id" id="wishlist_id" value="{{ wishlist.id }}">
                    <!-- Rest of the form fields -->
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="price">Price:</label>
                            <input type="number" name="price" id="price" class="form-control" min="0">
                        </div>
                        <div class="col">
                            <label for="quantity">Quantity:</label>
                            <input type="number" name="quantity" id="quantity" class="form-control" min="0" step="1">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="description">Description:</label>
                            <textarea name="description" id="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="link">Link:</label>
                            <input type="url" name="link" id="link" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Create Item</button>
                </form>
                <hr>
                <!-- Loop through registry items and display them -->
                {% for item in registry_items %}
                <div class="item">
                    <h3>{{ item.name }}</h3>
                    <p>Price: ${{ item.price }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    {% if item.description %}
                        <p>Description: {{ item.description }}</p>
                    {% endif %}
                    {% if item.link %}
                        <p>Link: {{ item.link }}</p>
                    {% endif %}
                    <!-- Add delete button -->
                    <form method="post" action="{% url 'view_registry_app:delete_item' item.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
                <hr> <!-- Horizontal rule between items -->
            {% endfor %}
                
            </div>
        </div>
    </div>

    <script src="{% static 'view_registry_app/js/script.js' %}"></script>
{% endblock %}
