.boxOutline {
    position: relative;
    padding-bottom: 25px;
}

.wishlistBox {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    max-width: 25ch;
    position: relative;
}

.buttonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    margin-bottom: 20px;
}

.wishlistGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.viewButton {
    position: absolute;
    bottom: 0;
    left: 0;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.confirmDeleteButton {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    background-color: red;
    border-color: red;
    color: white;
}
.background-image {
    background-image: url('/static/img/wishlistBG.png');
    background-size: cover;
    background-position: center;
}
body {
    background-image: url('/static/img/wishlistBG.png');
}
.gradient-box {
    border: 2px solid block;
    padding: 20px;
    background: linear-gradient(to bottom right, red, white);
    
}
@media print {
    .pagebreak {page-break-before: always;}
}
.refont {
    font-family: monospace;
    color: red;
}
.customHR {
    border: none;
    height: 5px;
    background-color: red;
}
.Preformat {
    font-family: serif;
    font-weight: bold;
    color: red; 
}
.myWishlistBG {
    background-image: url('/static/img/wishlistBG.png');
    background-size: cover;
    background-position: center;
}
.body {
    background-color: blanchedalmond;
}
.buttonCSS {
    background-color: pink;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 24px;
}
.buttonCSS:hover {background-color: blue;}
