<html>
    <head>
        <title>Display Registry Data</title>
    </head>

    <body>
        <h1>Welcome back, insertusernamehere!</h1>
        <table>
            <tr>
            <th>This table is empty for now</th>
            <th>Data coming soon...</th>
            </tr>
            <tr>
                <td>No data available</td>
                <td>No data available</td>
            </tr>
        </table>
    </body>
</html>
<style>
    table, td, th {
        border: 1px solid black;
    }
</style>