<html>
    <head>
        <title>MyRegistry Homepage</title>
    </head>
    <body>
        <h1 id = "header_title">MyRegistry Prototype</h1>
        <p>Welcome to MyRegistry!</p>
        <div id = "sign_in">
            <p>If you are a returning user, enter your information here.</p>
            <p>Username: <input type = "text" id = "username"> </p>
            <p>Password: <input type = "password" id = "password"> </p>
            <input type = "submit" id = "submit_button">
        </div>
        <p>Otherwise, click here to create an account...</p>
        <input type = "button" id = "sign_up">
    </body>
</html>
<script>
    
</script>