{% extends 'base.html' %}

{% load static %}

{% block title %} Wishlist Page {% endblock %}



{% block css %} 
<link rel="stylesheet" href="{% static 'registry_app/css/wish_style.css' %}">
{% endblock %}

{% block content %}

<h1>My Wishlists</h1>

<!-- Button to create a new wishlist -->
<a href="{% url 'registry_app:create_wishlist' %}" class="btn btn-primary">Create New Wishlist</a>

<!-- Container for displaying wishlists -->
<div id="wishlistContainer" class="wishlistGrid">
    <!-- Wishlists will be dynamically added here -->
</div>

<div id="wishlist-data" 
     data-url="{% url 'registry_app:load_wishlists' %}">
</div>

<script src="{% static 'registry_app/js/wish_script.js' %}"></script>
{% endblock %}
