{% extends 'base.html' %}
{% load static %}

{% block title %} Wishlist Page {% endblock %}

{% block css %} 
<link rel="stylesheet" href="{% static 'registry_app/css/wish_style.css' %}">
<link rel="stylesheet" href="{% static 'registry_app/css/style.css' %}">

{% endblock %}

{% block content %}

<h1>My Wishlists</h1>

<!-- Form to create a new wishlist -->
<div id="createWishlistForm">
    <form method="post" action="{% url 'registry_app:create_wishlist' %}">
        {% csrf_token %}
        <label for="wishlist_name"><b>Create New Wishlist:</b></label>
        <input type="text" id="wishlist_name" name="wishlist_name" maxlength="45">
        <button type="submit" id="createButton">Confirm</button>
        <button type="reset">Cancel</button>
        {% if messages %}
            <ul class="errorlist">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>

<p id="maxWishlistMessage" style="color: red; display: none;">Max number of wishlists created (20)</p>

<hr> <!-- Horizontal rule -->

<!-- Container for displaying wishlists -->
<div id="wishlistContainer" class="wishlistGrid">
    <!-- Wishlists will be dynamically added here -->
</div>

<div id="wishlist-data" 
     data-url="{% url 'registry_app:load_wishlists' %}">
</div>

<script src="{% static 'registry_app/js/wish_script.js' %}"></script>
{% endblock %}
